.project {
    color: black;
    
}

.project h2 {
    padding: 16px;
    /* box-shadow: rgba(0, 0, 0, 0.75); */
}

.info_block img {
    margin: 26px;
    transition: transform 0.2s;
}

.info_block img:hover {
    transform: scale(1.2);
}

.info_block p {
   text-align: justify; 
   padding: 16px;
}

.btn {
    width: 170px;
    margin: 12px 0;
    padding: 20px;
    border-radius: 16px;

    background: linear-gradient(to right,#ff760D, rgb(253, 61, 61));
    color: white;
    border: none;
    text-decoration: none;

    text-align: center;

    transition: transform 0.5s;  
}

.btn a {
    text-decoration: none;
    color: white;
}

.btn:hover {
    transform: scale(1.1);
    background: #4d4d4d;
}

