.block_banner {
	margin-top: 80px;
	padding: 120px 16px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.block_banner p {
	padding: 15px 0;
	font-size: 20px;
}

.block_banner h1 {
	font-size: 50px;
}

span {
	text-shadow: 3px 4px rgba(0, 0, 0, 0.4);
}

.text {
	color: #ff760d;
	/* text-shadow: 3px 4px rgba(0, 0, 0, 0.4); */
}

@media not all and (min-width: 640px) {
	.block_banner {
		flex-direction: column;
		text-align: center;
		margin-top: -0.5vh;
		padding: 4vh;
	}
}
