.block_banner {
	margin-top: 80px;
	padding: 120px 16px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.block_banner p {
	padding: 15px 0;
	font-size: 20px;
}

.block_banner h1 {
	font-size: 50px;
}

.block_banner span {
	background: linear-gradient(
		287deg,
		rgba(253, 61, 61, 1),
		rgba(255, 118, 13, 1),
		rgba(172, 149, 2, 0.801)
	);
	/* background: linear-gradient(287deg, rgba(66,148,246,1) 6%, rgba(32,105,171,1) 50%, rgba(35,255,245,1) 99%); */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text {
	background: linear-gradient(
		287deg,
		rgba(253, 61, 61, 1),
		rgba(255, 118, 13, 1),
		rgba(172, 149, 2, 0.801)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media not all and (min-width: 640px) {
	.block_banner {
		flex-direction: column;
		text-align: center;
		margin-top: -0.5vh;
		padding: 4vh;
	}
}
