section {
	background-color: #3A2A78;
}
.block_banner {
	margin-top: 0;
	padding: 120px 16px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.block_banner p {
	padding: 15px 0;
	font-size: 20px;
	color: white;
}

.block_banner h1 {
	font-size: 50px;
}

.block_banner span {
	color: #17a468;
}

.right_block {
	color: white;
}

.text {
	color: #17a468;
}

@media not all and (min-width: 640px) {
	.block_banner {
		flex-direction: column;
		text-align: center;
		margin-top: -0.5vh;
		padding: 4vh;
	}
}
