.section {
    background-color: #4d4d4d;
    color: white;
}
.my_projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;

    padding: 150px ;  
}

.my_final_project {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 100px;

    background-color: white;
    color: #4d4d4d;
    border-radius: 16px;

    cursor: pointer;
    transition: transform 0.5s;
    
}

.my_final_project:hover {
    transform: scale(1.2);
    color: #ff760D  ;
    
}

