.section {
	background-color: #f4f4f4;
}

.section h1 {
	text-align: center;
	padding-top: 3rem;
	font-size: 3rem;
	font-family: poppins,sans-serif;

	color: #17a468;
}

.my_projects {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	row-gap: 0.25rem;
}

@media not all and (min-width: 1024px) {
	.my_projects {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media not all and (min-width: 640px) {
	.my_projects {
		grid-template-columns: repeat(1, 1fr);
		justify-content: center;
	}
}
