.header {
	position: sticky;
	top: 0;
	width: 100%;
	box-shadow:
		0 0.125rem 0.25rem rgb(0 0 0 / 8%),
		0 0.5rem 0.75rem rgb(0 0 0 / 4%);
	background-color: #3a2a78;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;

	color: white;
	font-size: 24px;
}

.logo_menu img {
	margin: 8px 0 0 0;
	width: 36%;
	object-fit: cover;
}

.block_menu {
	display: flex;
	list-style: none;
}

.block_menu a {
	text-decoration: none;
	scroll-behavior: smooth;
}

.block_menu li {
	padding: 20px 0 20px 100px;
	font-size: 1.2vw;
	color: white;
	transition:
		color 0.2s,
		transform 0.1s;
}

.block_menu li:hover {
	color: #17a468;
	transform: scale(1.1);
}

.menu_button {
	display: none;
}

@media not all and (min-width: 768px) {
	.logo_menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8rem;
		z-index: 2;
	}

	.nav_menu {
		position: fixed;
		top: 0;
		left: 4px;
		border-right: solid 4px white;
		display: flex;
		flex-direction: column;
		width: 99%;
		height: 100%;
		background-color: #3a2a78;
		transform: 0.3s linear;

		transform: translateX(-100%);
	}

	.logo_menu img {
		margin: 1rem;
		width: 25%;
	}

	.active {
		transform: translateX(0);
		transition: all 0.5s;
		transform: 0.3s linear;
	}

	.block_menu {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-self: start;
		font-size: 3rem;
		padding-top: 10rem;
	}

	.block_menu li {
		font-size: 3rem;
	}

	.menu_button {
		display: flex;
		width: 2.5rem;
		color: white;
	}
}
