.modal {
    height: 100%;
    width: 100%;

    transition: 0.5s ;
    /* backdrop-filter: blur(2px); */
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;

    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}


.content {
    padding: 20px;
    border-radius: 16px;
    background-color: white;

    transform: scale(0.5);
    transition: 0.4s all;

    width: 50%;
}

.content.active {
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
    transform: scale(1);
}


