.block_about_me {
    background-color: #f4f4f4;
}

.about_me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.discription_block h1 {
    padding: 0 26px;
}

.discription_block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 26px;
    /* align-items: center; */
    /* text-align: start; */
    padding: 50px;
}

.discription_block p {
    text-align: justify;
    font-family: 'Merriweather', serif;
    padding: 26px;
}

img {
    object-fit: cover;
    max-width: 250px;
    height: max-content;
    border-radius: 16px;
}

.discription_block button {
    margin-left: 26px;
    padding: 16px;
    width: 150px;
    border-radius: 16px;
    background-color: #ff760D ;
    color: white;
    border: none;
}