.block_about_me {
    background-color: #f4f4f4;
    padding: 100px 16px;
}

.about_me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.discription_block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.discription_block p {
    text-align: justify;
    font-family: 'Merriweather', serif;
    padding: 30px 0;
}

img {
    object-fit: cover;
    max-width: 250px;
    height: max-content;
    border-radius: 16px;
}

.discription_block button {
    width: 150px;
    margin: 12px 0;
    padding: 20px;
    border-radius: 16px;

    background: linear-gradient(to right,#ff760D, rgb(253, 61, 61));
    color: white;
    border: none;

    transition: transform 0.5s;  
}

.discription_block button:hover {
    transform: scale(1.1);
}